mixin back()
    a.back-page(href='#')
        span.back-page__icon
            +icon('arr-back')
        |назад

mixin title(tag, classes, text)
    if tag === 'h1'
        h1.title(class=classes)=text
    else if tag === 'h2'
        h2.title(class=classes)=text
    else if tag === 'h3'
        h3.title(class=classes)=text
    else
        .title(class=classes)=text

mixin paragraph(classes, text)
    p(class=classes)=text

mixin blockquote
    blockquote
        h3 Спортстандарт
        p.
            И открылись царю слова «И это тоже пройдет».
            Удивление от того, что никогда он не замечал этой строчки ранее,
            охладило Соломона. Больше срывов с ним не случалось долгие годы, но,
            наконец, пришла пора ему уходить в мир иной. Он сидел и рассматривал свое кольцо,
            с которым, казалось, никогда не расставался. Соломон знал каждую щербинку на нем.
            Грустно улыбнулся царь, в последний раз прочитывая сначала одну надпись «Это пройдет»,
            затем вторую «И это тоже пройдет»
        cite Константинопольский Константин, #[i менеджер]

mixin important
    .important
        .important__title Важно. Используется для выделения особо важной информации
        .important__text.
            РОССАМБО является одним из наиболее быстро растущих производителей борцовских ковров в России,
            производителем классических профессиональных татами для дзюдо, боевых искусств и ММА.