mixin srcsetRetinaImg(src, ext, width, height, placeholder, classes)
    picture(class=classes)
        source(data-srcset=src + '.' + 'webp' + ' 1x, ' + src + '@2x.' + 'webp' + ' 2x' type="image/webp")
        source(data-srcset=src + '.' + ext + ' 1x, ' + src + '@2x.' + ext + ' 2x' media="(min-width: 980px)" type="image/" + ext)
        img.lazyload(src=src + '.' + ext srcset=placeholder ? placeholder : 'img/placeholder.svg'   width=width height=height alt='image')